<div class="employee-grid-container">

  <div class="grid-header">

    <span class="grid-title">

      Employee Directory

    </span>

    <div class="search-wrapper">

      <input
        type="text"
        placeholder="🔍 Search employees..."
        [(ngModel)]="searchText"
        (input)="onQuickFilter()"
      />

      @if (searchText.length > 0) {

        <button
          class="clear-search-btn"
          (click)="clearSearch()">

          ×

        </button>

      }


    </div>

    <div class="header-actions">
      <div class="export-container">

       <button
          class="export-btn"
          (click)="toggleExportMenu(); $event.stopPropagation()">

          Export ▼

        </button>

        @if (showExportMenu) {

          <div
            class="export-dropdown"
            (click)="$event.stopPropagation()">

            <button
              class="dropdown-item"
              (click)="exportCsv()">

              Export CSV

            </button>

            <button
              class="dropdown-item"
              (click)="exportExcel()">

              Export Excel

            </button>

          </div>

        }

      </div>
      <span class="employee-count">

        <span class="employee-count-label">

          Total Employees:

        </span>

        <span class="employee-number">

          {{ totalEmployeeCount }}

        </span>

      </span>

    </div>

  </div>

  <div class="ag-theme-quartz-dark grid-wrapper">

        <ag-grid-angular

        style="height: 100%; width: 100%;"

        [rowData]="rowData"

        [rowHeight]="50"

        [headerHeight]="60"

        [columnDefs]="columnDefs"

        [defaultColDef]="defaultColDef"

        [overlayNoRowsTemplate]="overlayNoRowsTemplate"

        (gridReady)="onGridReady($event)"

        (gridSizeChanged)="onGridSizeChanged()"

        (filterChanged)="updateEmployeeCount()"

        (modelUpdated)="updateEmployeeCount()"

        (sortChanged)="onSortChanged()">

        </ag-grid-angular>

  </div>

  <div class="pagination-container">

    <button

      class="pagination-btn"

      [disabled]="currentPage === 1"

      (click)="previousPage()">

      ◀ Previous

    </button>

    <span class="page-info">

      Page {{ currentPage }}

      of

      {{ totalPages }}

    </span>

    <div class="page-numbers">

      @for (

        page of getPageNumbers();

        track $index

      ) {

        @if (page === '...') {

          <span class="pagination-dots">

            ...

          </span>

        }

        @else {

          <button

            class="page-number"

            [class.active-page]="

              page === currentPage

            "

            (click)="goToPage(+page)">

            {{ page }}

          </button>

        }

      }

    </div>

    <button

      class="pagination-btn"

      [disabled]="

        currentPage === totalPages

      "

      (click)="nextPage()">

      Next ▶

    </button>

    <div class="page-size-container">

      <span>

        Records per page :

      </span>

      <div class="page-size-dropdown">

      <button
        (click)="
          togglePageSizeMenu();
          $event.stopPropagation()
        ">

        {{ pageSize }} <span class="arrow">▼</span>

      </button>

        @if (showPageSizeMenu) {

          <div
            class="dropdown-menu"
            (click)="$event.stopPropagation()">

            @for (
              size of pageSizeOptions;
              track size
            ) {

              <div

                [class.active]="
                  pageSize === size
                "

                (click)="
                  changePageSize(size)
                ">

                {{ size }}

              </div>

            }

          </div>

        }

      </div>

    </div>

  </div>


    @if (showDeleteModal) {

    <div
        class="modal-overlay"
        (click)="cancelDelete()">

        <div
        class="modal"
        (click)="$event.stopPropagation()">

        <h3>

            Delete Employee

        </h3>

        <p>

            Are you sure you want to delete this employee?

        </p>

        <div class="modal-actions">

            <button
            class="cancel-btn"
            (click)="cancelDelete()">

            Cancel

            </button>

           <button
            class="modal-delete-btn"
            (click)="confirmDelete()">

            Delete

          </button>

        </div>

        </div>

    </div>

    }

</div>