<h2>Add Employee</h2>

<div class="employee-form">
  <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">

    <div class="form-group">

      <label>Name:</label>

      <input
        type="text"
        name="name"
        placeholder="Enter employee name"
        [(ngModel)]="name"
        required
        minlength="2"
        #nameField="ngModel"
      />

      <div class="error-container">

        @if (
          nameField.invalid &&
          nameField.touched
        ) {

          <div class="error">

            @if (
              nameField.errors?.['required']
            ) {
              Name is required
            }

            @if (
              nameField.errors?.['minlength']
            ) {
              Name must be at least 2 characters
            }

          </div>

        }

      </div>

    </div>

    <div class="form-group">

      <label>Email:</label>

      <input
        type="email"
        name="email"
        placeholder="Enter employee email ID"
        [(ngModel)]="email"
        required
        email
        #emailField="ngModel"
      />

      <div class="error-container">

        @if (
          emailField.invalid &&
          emailField.touched
        ) {

          <div class="error">

            @if (
              emailField.errors?.['required']
            ) {
              Email is required
            }

            @if (
              emailField.errors?.['email']
            ) {
              Enter a valid email address
            }

          </div>

        }

      </div>

    </div>

    <div class="form-group">

      <label>Department:</label>

      <input
        type="text"
        name="department"
        placeholder="Enter employee department"
        [(ngModel)]="department"
        required
        minlength="2"
        #departmentField="ngModel"
      />

      <div class="error-container">

        @if (
          departmentField.invalid &&
          departmentField.touched
        ) {

          <div class="error">

            @if (
              departmentField.errors?.['required']
            ) {
              Department is required
            }

            @if (
              departmentField.errors?.['minlength']
            ) {
              Department must be at least 2 characters
            }

          </div>

        }

      </div>
    </div>

    <button
      type="submit"
      [disabled]="employeeForm.invalid">

      @if (editingEmployeeId !== null) {

        Update Employee

      } @else {

        Add Employee

      }
    </button>

  </form>

</div>