*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: trebuchet ms, sans-serif;
}

body{
    padding: 20px;
}

h2{
    text-align: center;
    margin-bottom: 15px;
}
.employee-form{
    position: relative;
    padding: 18px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;

   background: #3b3b3b;


}

.employee-form::before {

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  height: 4px;

  background: #00c27a;

  border-radius: 16px 16px 0 0;

  border: 1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 10px 30px rgba(211, 211, 211, 0.25);
}

.employee-form label {

  display: block;

  margin-bottom: 8px;

  color: #f5f5f5;

  font-weight: 600;

  font-size: 15px;

}

.employee-form input::placeholder{
  color: #8f8f8f;

}

.employee-form input {

  width: 100%;

  height: 35px;

  padding: 0 14px;

  border-radius: 10px;

  border: 1px solid #444;

  background: #1f1f1f;

  color: #ffffff;

  font-size: 15px;

  transition: all 0.2s ease;

}

.employee-form input:focus {

  outline: none;

  border-color: #00c27a;

  box-shadow:
    0 0 0 3px rgba(0,194,122,0.15);

}

.employee-form select {

  width: 100%;

  height: 35px;

  padding: 0 14px;

  border-radius: 10px;

  border: 1px solid #444;

  background: #1f1f1f;

  color: #ffffff;

  font-size: 15px;

  transition: all 0.2s ease;

  cursor: pointer;

}

.employee-form select:focus {

  outline: none;

  border-color: #00c27a;

  box-shadow:
    0 0 0 3px rgba(0,194,122,0.15);

}

.employee-form select option {

  background: #1f1f1f;

  color: white;

}

.custom-dropdown {

  position: relative;

  width: 100%;

}

.dropdown-btn {

  width: 100%;

  height: 38px;

  padding: 0 14px;

  border-radius: 10px;

  border: 1px solid #444;

  background: #1f1f1f;

  color: white;

  cursor: pointer;

  display: flex;

  justify-content: space-between;

  align-items: center;

  font-size: 14px;

}

.dropdown-btn:hover {

  border-color: #00c27a;

}

.dropdown-menu {

  position: absolute;

  top: calc(100% + 4px);

  left: 0;

  right: 0;

  z-index: 1000;

  background: #1f1f1f;

  border: 1px solid #444;

  border-radius: 10px;

  overflow: hidden;

  box-shadow:
    0 10px 25px rgba(0,0,0,.35);

}

.dropdown-item {

  padding: 10px 14px;

  color: white;

  cursor: pointer;

}

.dropdown-item:hover {

  background:
    rgba(0,194,122,.15);

}

.dropdown-btn:disabled {

  opacity: 0.5;

  cursor: not-allowed;

}

input.ng-invalid.ng-touched {

    border: 1px solid #ef4444;

}

input.ng-valid.ng-touched {

    border: 1px solid #22c55e;

}

select.ng-invalid.ng-touched {

  border: 1px solid #ef4444;

}

select.ng-valid.ng-touched {

  border: 1px solid #22c55e;

}

.form-group {

  margin-bottom: 10px;

}

.error-container {

  min-height: 18px;

}

.error {

  color: #ff6b6b;

  font-size: 0.85rem;

  font-weight: 500;

}

button:disabled {

  opacity: 0.5;

  cursor: not-allowed;

}

.dual-dropdown-row {

  display: flex;

  gap: 12px;

  width: 100%;

}

.half-width {

  flex: 1;

}

/* ==========================================
   FORM ACTION BUTTONS
========================================== */

.form-actions {

  display: flex;

  gap: 12px;

  margin-top: 12px;

}

/* UPDATE / ADD BUTTON */

.employee-form button[type="submit"] {

  flex: 1;

  padding: 12px;

  font-size: 16px;

  font-weight: 600;

  background: #28a745;

  color: white;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  transition: all 0.2s ease;

}

.employee-form button[type="submit"]:not(:disabled):hover {

  background: #218838;

  transform: translateY(-1px);

}

.employee-form button[type="submit"]:disabled {

  opacity: 0.6;

  cursor: not-allowed;

}

/* CANCEL EDIT BUTTON */

.hidden {

  visibility: hidden;

}

.cancel-edit-btn {

  flex: 1;

  padding: 12px;

  font-size: 16px;

  font-weight: 600;

  background: transparent;

  color: #d1d5db;

  border: 1px solid #6b7280;

  border-radius: 8px;

  cursor: pointer;

  transition: all 0.2s ease;

}

.cancel-edit-btn:hover {

  background: rgba(121, 0, 0, 0.342);

  border-color: #ff7272;

  color: white;

  transform: translateY(-1px);

}

@media (max-width: 768px) {

  .dual-dropdown-row {

    flex-direction: column;

  }

}